/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
            $face: (261px, 94px, -261px, -94px, 13px, 24px, 342px, 327px, 'sprite.png', 'face', );
            $footer_pay_1: (198px, 264px, -198px, -264px, 25px, 23px, 342px, 327px, 'sprite.png', 'footer_pay_1', );
            $footer_pay_2: (282px, 233px, -282px, -233px, 33px, 23px, 342px, 327px, 'sprite.png', 'footer_pay_2', );
            $footer_pay_3: (127px, 72px, -127px, -72px, 46px, 14px, 342px, 327px, 'sprite.png', 'footer_pay_3', );
            $footer_soc_f: (182px, 153px, -182px, -153px, 9px, 16px, 342px, 327px, 'sprite.png', 'footer_soc_f', );
            $footer_soc_i: (143px, 153px, -143px, -153px, 16px, 16px, 342px, 327px, 'sprite.png', 'footer_soc_i', );
            $footer_soc_vk: (164px, 153px, -164px, -153px, 13px, 16px, 342px, 327px, 'sprite.png', 'footer_soc_vk', );
            $footer_soc_y: (203px, 72px, -203px, -72px, 17px, 12px, 342px, 327px, 'sprite.png', 'footer_soc_y', );
            $in_win8_arrow_left: (261px, 123px, -261px, -123px, 13px, 23px, 342px, 327px, 'sprite.png', 'in_win8_arrow_left', );
            $in_win8_arrow_left_active: (256px, 264px, -256px, -264px, 13px, 23px, 342px, 327px, 'sprite.png', 'in_win8_arrow_left_active', );
            $in_win8_arrow_right: (292px, 264px, -292px, -264px, 13px, 23px, 342px, 327px, 'sprite.png', 'in_win8_arrow_right', );
            $in_win8_arrow_right_active: (274px, 264px, -274px, -264px, 13px, 23px, 342px, 327px, 'sprite.png', 'in_win8_arrow_right_active', );
            $insta: (228px, 264px, -228px, -264px, 23px, 23px, 342px, 327px, 'sprite.png', 'insta', );
            $islider_quote: (0px, 0px, 0px, 0px, 122px, 89px, 342px, 327px, 'sprite.png', 'islider_quote', );
            $review_soc_1: (196px, 153px, -196px, -153px, 10px, 12px, 342px, 327px, 'sprite.png', 'review_soc_1', );
            $review_soc_2: (270px, 179px, -270px, -179px, 7px, 13px, 342px, 327px, 'sprite.png', 'review_soc_2', );
            $review_soc_3: (225px, 72px, -225px, -72px, 12px, 11px, 342px, 327px, 'sprite.png', 'review_soc_3', );
            $select-arrow: (178px, 72px, -178px, -72px, 20px, 13px, 342px, 327px, 'sprite.png', 'select-arrow', );
            $vk: (320px, 233px, -320px, -233px, 19px, 23px, 342px, 327px, 'sprite.png', 'vk', );
            $win3_label_1: (183px, 179px, -183px, -179px, 82px, 37px, 342px, 327px, 'sprite.png', 'win3_label_1', );
            $win3_label_2: (76px, 264px, -76px, -264px, 50px, 55px, 342px, 327px, 'sprite.png', 'win3_label_2', );
            $win3_label_3: (0px, 264px, 0px, -264px, 71px, 63px, 342px, 327px, 'sprite.png', 'win3_label_3', );
            $win3_label_4: (282px, 86px, -282px, -86px, 57px, 82px, 342px, 327px, 'sprite.png', 'win3_label_4', );
            $win3_label_5: (282px, 173px, -282px, -173px, 52px, 55px, 342px, 327px, 'sprite.png', 'win3_label_5', );
            $win3_label_5_1: (110px, 94px, -110px, -94px, 146px, 54px, 342px, 327px, 'sprite.png', 'win3_label_5_1', );
            $win3_label_5_2: (282px, 0px, -282px, 0px, 60px, 81px, 342px, 327px, 'sprite.png', 'win3_label_5_2', );
            $win3_label_5_3: (127px, 0px, -127px, 0px, 150px, 67px, 342px, 327px, 'sprite.png', 'win3_label_5_3', );
            $win3_label_5_4: (0px, 94px, 0px, -94px, 105px, 80px, 342px, 327px, 'sprite.png', 'win3_label_5_4', );
            $win3_label_5_5: (0px, 179px, 0px, -179px, 85px, 80px, 342px, 327px, 'sprite.png', 'win3_label_5_5', );
            $win3_label_6: (90px, 179px, -90px, -179px, 88px, 55px, 342px, 327px, 'sprite.png', 'win3_label_6', );
            $win7-list-arrow: (131px, 264px, -131px, -264px, 33px, 34px, 342px, 327px, 'sprite.png', 'win7-list-arrow', );
            $win_close: (169px, 264px, -169px, -264px, 24px, 24px, 342px, 327px, 'sprite.png', 'win_close', );
            $yout: (110px, 153px, -110px, -153px, 28px, 20px, 342px, 327px, 'sprite.png', 'yout', );
        $spritesheet-sprites: ($face, $footer_pay_1, $footer_pay_2, $footer_pay_3, $footer_soc_f, $footer_soc_i, $footer_soc_vk, $footer_soc_y, $in_win8_arrow_left, $in_win8_arrow_left_active, $in_win8_arrow_right, $in_win8_arrow_right_active, $insta, $islider_quote, $review_soc_1, $review_soc_2, $review_soc_3, $select-arrow, $vk, $win3_label_1, $win3_label_2, $win3_label_3, $win3_label_4, $win3_label_5, $win3_label_5_1, $win3_label_5_2, $win3_label_5_3, $win3_label_5_4, $win3_label_5_5, $win3_label_6, $win7-list-arrow, $win_close, $yout, );
        $spritesheet: (342px, 327px, 'sprite.png', $spritesheet-sprites, );


